// This is a template file. 
// To generate the actual firebase_options.dart file, run:
// flutterfire configure
//
// Or create it manually with your Firebase project configuration.

// For now, this is a placeholder that will cause a compile error.
// You need to generate firebase_options.dart using: flutterfire configure

